<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-button></ion-button>
    <ion-title>Bienvenido</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">Bienvenido</ion-title>
    </ion-toolbar>
  </ion-header>
  <ion-card>
    <img [src]="userLogin?.image" alt="">
    <ion-card-content>
      <ion-item>
        <ion-text color="primary"> {{ userLogin?.gender }} </ion-text>
      </ion-item>
      <ion-item>
        <ion-label> {{ userLogin?.firstName }} {{ userLogin?.lastName }} </ion-label>
      </ion-item>
    </ion-card-content>
  </ion-card>
</ion-content>
